body {
  border: 0px;
  margin: 0px;
  touch-action: pan-down;
  user-select: none;
  background-color: black;
}

.container {
  position: relative;
}

#mode {
  position: absolute;
  top: 20vh;
  color: white;
  font-size: 8vh;
}

#letterPair {
  position: absolute;
  top: 35vh;
  color: white;
  font-size: 12vh;
}

#letterPairWord {
  position: absolute;
  top: 50vh;
  color: white;
  font-size: 2vh;
}

#algorithm {
  position: absolute;
  top: 60vh;
  color: white;
  font-size: 4vh;
}
