body {
  border: 0px;
  margin: 0px;
  touch-action: pan-down;
  user-select: none;
}

.container {
  position: relative;
}

#letterPair {
  position: absolute;
  top: 5vh;
  color: white;
  font-size: 10vh;
}

#letterPairWord {
  position: absolute;
  top: 17vh;
  color: white;
  font-size: 2vh;
}

#algorithm {
  position: absolute;
  top: 85vh;
  color: white;
  font-size: 4vh;
}

#mode {
  position: absolute;
  left: 10px;
  top: 10px;
  color: white;
  font-size: 2vh;
}

#fps {
  position: absolute;
  left: 10px;
  top: 30px;
  color: white;
  font-size: 2vh;
}

canvas {
  width: 100vw;
  height: 100vh;
}
