/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 #map {
    height: 100%;
  }


  body {
	/* position: relative; /* for scrollspy to work */
	/* padding-top: 82px; */
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	overflow:auto;
    -webkit-overflow-scrolling: touch;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.wrap {
    height: 100%;
    overflow: auto;
}

.map-container{
    height: 500px;
}

#vision, #dataset-used{
	background-color: #dbe9ff;
    border-radius: 10px;
}
section{
    padding:20px;
    margin: 20px;
}

#yearSelector{
    width: 150px;
}

/*#top-10 li:hover{
    background-color: rgb(100, 100, 248);
}*/